= render partial: "items/header"
.main
  %h2 新規会員登録
  = form_with url: pay_credit_card_index_path, method: :post, id: 'charge-form',  html: { name: "inputForm" } do |f|
    .main__form
      .main__form__registration
        クレジットカード登録ページ
      .main__form__field
        %label.main__form__field__label カード番号
        = f.text_field :number, name: "number", id: "card_number", type: "text", placeholder: '半角数字のみ', class: 'main__form__field__box', maxlength: "16"
        =image_tag "material/credit/credit.png", class:"main__form__field__credit-image"
      .main__form__field2
        %label.main__form__field__label 有効期限
        = f.select :exp_month, [["--","--"],["01",1],["02",02],["03",03],["04",04],["05",05],["06",6],["07",07],["08",8],["09",9],["10",10],["11",11],["12",12]],{}, class: 'credit-box', name: "exp_month", id:"exp_month"
        %span.month 月
        = f.select :exp_year, [["--","--"],["2019",2019],["2020",2020],["2021",2021],["2022",2022],["2023",2023],["2024",2024],["2025",2025],["2026",2026],["2027",2027],["2028",2028],["2029",2029]], {}, class: 'credit-box', name: "exp_year", id:"exp_year"
        %span.year 年
      .main__form__field
        %label.main__form__field__label セキュリティーコード
        = f.text_field :cvc, name: "cvc", id:"cvc", type: "text", placeholder: 'カード背面4桁もしくは3桁の番号', class: "main__form__field__box", maxlength: "4"
      .main__form__field
        = f.submit '登録する', id: "token_submit", class: "main__form__field__submit-btn"